.movieRow{
    margin-bottom: 30px;
    margin-top: 40px;
}
.movieRow h2{
    margin: 0px 0px 10px 30px;
}

.movieRow-listarea{
    overflow-x: hidden !important;
    padding-left: 30px;
}
.movieRow-list{
    transition: all ease 0.5s ;
    display:flex;
    overflow: hidden;

}
.movieRow:hover .movieRow-right,
.movieRow:hover .movieRow-left{
    opacity: 1;
}
.movieRow-item{
    width: 200px;
    height: 270px;
    position: relative;
    margin: 0 8px 0;
}
.img-f{
    width: 190px;
    height: 100%;
    position: relative;
    z-index: 5;
    transition: all ease 0.6s;
}

.movieRow-right, .movieRow-left{
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 99;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    margin: 0;
    height: 270px;
}
.movieRow-right:hover, .movieRow-left:hover{
    background-color: rgba(0, 0, 0, 0.26) 
}
.movieRow-left{
    left: 0;
}

.movieRow-right{
    right: 0;
}
.button-play{
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    transform: scale(0.8);
    transition: transform ease 0.5s, opacity ease 1s;
    
}
.button-play:hover {
    opacity: 0.8;
    transform: scale(1.2);
}
.card-show{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    opacity: 0;
    margin: 0px auto;
    padding: 0px 20px;
    width: 90%;
    height: 270px;
    background: rgba(26, 26, 26, 0.98);
    transition: all 0.6s ease 0s;   
}
.card-show p{
    opacity: 0;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
.card-show strong{
    margin-top: 20px;
}
.movieRow-item:hover > .card-show{
    top: 0px;
    left: 10px;
    z-index: 10;
    width: 400px;
    height: 300px;
    transform: scale(1) translateX(90px);
    opacity: 1;
    border-radius: 0px 8px 8px 0px;
}
.movieRow-item:hover > .card-show > p{
  transition-delay: 0.5s;
  opacity: 1;
}
.movieRow-item:hover > .img-f{
    border-radius: 8px 0px 0px 8px;
    transform: scale(1) translateX(-90px);
    
}

.cardShow--button-play{
    display: inline-block;
    font-size: 18px;
    font-weight:bold;
    padding: 11px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    color: #000;
    background-color: #fff;
    height: 43px;
    justify-content: center;
}
.cardShow--button-play:hover{
    background-color: rgba(245, 23, 34, 0.89);
    color: #fff;
}
.bottom-cardShow{
    display: flex;
    align-items: center;
}
svg{
    color: rgba(255, 255, 255, 0.6);
}
.circle{
    margin-left: 5px;
    border-radius: 100%;
    background-color: rgba(20, 20, 20, 6);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-color: rgba(255, 255, 255, 0.6);
    border-width: 1.5px;
    border-style: solid;
    align-items: center;
}
.circle:hover{
    border-color: rgba(255, 255, 255, 1);
}
.circle:hover svg{
    color: rgba(255, 255, 255, 1);
}


@media (max-width: 801px){
    .movieRow-right, .movieRow-left{
        opacity: 1;
        height: 180px;
        width: 50px;
    }
    .movieRow-item{ 
        width: 120px;
        height: 190px;
    }
    .movieRow h2{
        font-size: 20px;
    }
    .card-show{
        display: none;
    }
    .img-f{
        width:125px;
        height: 90%;
    }
    .movieRow-item:hover > .img-f{
        transform: scale(1.2);
    }
    .button-play:hover{
        filter: blur(0);
    }
}